# CLI-related dependencies
click
rich

# Environment & Configuration Management
python-dotenv

# Logging & Debugging
loguru
coloredlogs

# Security & Threat Intelligence Modules
requests
yara-python
pySigma
pySigma-backend-elasticsearch
elasticsearch
pyyaml

# Utility and Performance
tqdm
tabulate
psutil
